@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Nunito+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arima, sans-serif;
    font-weight: 600;
    color: indigo;
    background-color:lightgray;
}

#about {
    width: 100%;
}